* {
  background-color: #1d1d23;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 47px 200px;
}

input {
  background-color: #34344a;
  border: none;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
}

span {
  background-color: #34344a;
}

input::placeholder {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
  overflow: visible;
}

h1 {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.input-section {
  width: 849px;
  height: 132px;
  flex-shrink: 0;
  border-radius: 20px;
  background-color: #34344a;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 43px auto;
  padding: 0 30px;
}

#set-time {
  width: 142px;
  color: #fff;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: #34344a;
}

#input-time {
  width: 380px;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  background-color: #34344a;
  display: flex;
  justify-content: space-around;
}

#action-button {
  width: 124px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 26px;
  background-color: #f0f757;
  color: black;
  cursor: pointer;
}

#section2-title {
  width: 413px;
  height: 66px;
  flex-shrink: 0;
  border-radius: 50px;
  background-color: #39393e;
  margin: 6px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#section2-title > h3 {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: #39393e;
}

#input-times {
  width: 380px;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  background-color: #34344a;
  display: flex;
  justify-content: space-around;
}

#active-timer {
  margin: 43px auto;
}

#active-timer > span {
  width: 321.37px;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: block;
  margin: 60px auto;
  background-color: #1d1d23;
}

#stop-button-div > button {
  width: 124px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 26px;
  background-color: #f0f757;
  color: black;
  cursor: pointer;
}

.finished-timer-section {
  width: 849px;
  height: 132px;
  flex-shrink: 0;
  border-radius: 20px;
  background-color: #f0f757;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 43px auto;
  padding: 0 30px;
}

.finished-timer-section div {
  background-color: #f0f757;
}

#finished-timer-section-input-time {
  width: 380px;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  display: flex;
  justify-content: space-around;
}

.finished-timer-section span {
  background-color: #f0f757;
  color: #34344a;
}

.finished-timer-section > div > button {
  background-color: #34344a;
  color: #ffffff;
  width: 124px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 26px;
  cursor: pointer;
}
